<div class="hero-unit">
<h1>Frequently Asked Questions</h1>
<p>This page lists questions we are most frequently asked. If you have any other question, please do not hesitate to <%= link_to "Contact Us", contact_path %></p>
</div>

<ul class="nav nav-tabs nav-stacked">
<li><a href="#how-do-i-use-this-site">How do I use this site?</a></li>

<li><a href="#how-do-i-register">How do I register?</a></li>

<li><a href="#what-information-is-needed">What information is needed?</a></li>

<li><a href="#why-do-i-need-to-confirm-my-password">Why do I need to confirm my password?</a></li>

<li><a href="#what-happens-if-i-type-my-email-wrong">What happens if I type my email wrong?</a></li>

<li><a href="#what-is-the-confirmation-email">What is the confirmation email?</a></li>

<li><a href="#what-happens-if-i-forget-my-password">What happens if I forget my password?</a></li>

<li><a href="#how-do-i-find-the-courses">How do I find the Courses?</a></li>

<li><a href="#what-do-i-do-then">What do I do then?</a></li>

<li><a href="#how-do-i-sign-up-to-a-course">How do I sign up to a course?</a></li>

<li><a href="#how-do-i-pay-for-a-course">How do I pay for a course?</a></li>

<li><a href="#what-information-will-i-get-by-email">What information will I get by email?</a></li>

<li><a href="#can-i-withdraw-from-a-course">Can I withdraw from a course?</a></li>

<li><a href="#in-what-other-circumstances-can-i-get-my-money-back">In what other circumstances can I get my money back?</a></li>

<li><a href="#can-i-sign-up-to-multiple-courses">Can I sign up to multiple courses?</a></li>

<li><a href="#how-often-are-the-courses-updated">How often are the courses updated?</a></li>
<li><a href="#how-will-i-know-where-to-go-for-the-class">How will I know where to go for the class?</a></li>
<li><a href="#where-can-i-find-the-information-on-the-courses-that-i-have-signed-up-for">Where can I find the information on the courses that I have signed up for?</a></li>
<li><a href="#what-if-i-have-questions-that-are-not-covered-by-this-f.a.q.-section">What if I have questions that are not covered by this F.A.Q. section?</a></li>
</ul>

<h3 style="padding-top:61px;" id="how-do-i-use-this-site">How do I use this site?</h3>
<p>This site is a collection of courses on offer by UCC this summer. You may browse and sign up for any number of them.</p>
<h3 style="padding-top:61px;" id="how-do-i-register">How do I register?</h3>
<p>By clicking on the ‘Sign Up’ link in the top-right corner of the Home page. There you will enter information to create your profile.</p>
<h3 style="padding-top:61px;" id="what-information-is-needed">What information is needed?</h3>
<p>Name, Email, Year of Birth, Gender, Country and a Password.</p>
<h3 style="padding-top:61px;" id="why-do-i-need-to-confirm-my-password">Why do I need to confirm my password?</h3>
<p>This is a security feature to ensure there was no mistake in your typing.</p>
<h3 style="padding-top:61px;" id="what-happens-if-i-type-my-email-wrong">What happens if I type my email wrong?</h3>
<p>Nothing. A confirmation email will be sent to the other email address, if it exists, but as far as you are concerned, nothing will happen. You will have to re-enter your details and enter your email correctly this time. Then you will be able to continue on this site.</p>
<h3 style="padding-top:61px;" id="what-is-the-confirmation-email">What is the confirmation email?</h3>
<p>It is another security feature to ensure the email is correct. You will be unable to proceed without confirming your email address.</p>
<h3 style="padding-top:61px;" id="what-happens-if-i-forget-my-password">What happens if I forget my password?</h3>
<p>You can reset your password by clicking the ‘Forgot my password’ link. You will be emailed a link to reset your password.</p>
<h3 style="padding-top:61px;" id="how-do-i-find-the-courses">How do I find the Courses?</h3>
<p>You can find them by using the links from the Home page or the links at the top of the screen. These will take you to the Courses page.</p>
<h3 style="padding-top:61px;" id="what-do-i-do-then">What do I do then?</h3>
<p>From there you can browse any category that you like and see the courses on offer. You will be able to see the course timetable and information about the course.</p>
<h3 style="padding-top:61px;" id="how-do-i-sign-up-to-a-course">How do I sign up to a course?</h3>
<p>Once you find a course you are interested in, you can sign up and pay a deposit or the fees in full for the course. From then on you will get any information relevant to that course by email.</p>
<h3 style="padding-top:61px;" id="how-do-i-pay-for-a-course">How do I pay for a course?</h3>
<p>You can pay the full amount or a set deposit, depending on the course. All major credit cards are accepted.</p>
<h3 style="padding-top:61px;" id="what-information-will-i-get-by-email">What information will I get by email?</h3>
<p>The course timetable, any additional information about the course and any changes made after you sign up will be sent to you automatically.</p>
<h3 style="padding-top:61px;" id="can-i-withdraw-from-a-course">Can I withdraw from a course?</h3>
<p>Yes, you can but there will be a penalty. Usually this penalty will be a percentage of the total amount. This is not being refunded to help cover administration costs.</p>
<h3 style="padding-top:61px;" id="in-what-other-circumstances-can-i-get-my-money-back">In what other circumstances can I get my money back?</h3>
<p>If the course is cancelled by the College holding the course, you will get a full refund as it was not your choice.</p>
<h3 style="padding-top:61px;" id="can-i-sign-up-to-multiple-courses">Can I sign up to multiple courses?</h3>
<p>Yes, you can sign up to as many courses as you wish, as long as they do not overlap. There are safeguards in place to prevent this so you will be unable to do so anyway.</p>
<h3 style="padding-top:61px;" id="how-often-are-the-courses-updated">How often are the courses updated?</h3>
<p>Courses are only updated if significant information is changed, such as the location or the timetable. If nothing is changed it means that the course is proceeding as originally planned.</p>

<h3 style="padding-top:61px;"id="how-will-i-know-where-to-go-for-the-class">How will I know where to go for the class?</h3>
<p>There is a map function on the site which will show you where the classes are held. If there is any minor changes you will be told by your lecturer on the day and emailed the information also.</p>
<h3 style="padding-top:61px;"id="where-can-i-find-the-information-on-the-courses-that-i-have-signed-up-for">Where can I find the information on the courses that I have signed up for?</h3>
<p>When you are signed in, you can view a listing of all courses you have enrolled in, past and present. The link to see them is under your name in the top right corner. Click your name and select 'My Courses'.</p>
<h3 style="padding-top:61px;"id="what-if-i-have-questions-that-are-not-covered-by-this-f.a.q.-section">What if I have questions that are not covered by this F.A.Q. section?</h3>
<p>There is a 'Contact' section where you can send the administrators a message and you will get a response as soon as possible.</p>

