<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
<h1>UCC Summer Courses</h1>
<p>University College Cork offers a wide variety of educational programmes from 1 day to 1 week in duration during the months of July and August. Our courses are ideal for visitors to Cork from abroad.</p>
<p><a class="btn btn-danger btn-large" href="courses.html">View Courses &raquo;</a></p>
</div>

<!-- Example row of columns -->
<div class="row">
<div class="span6">
  <h2>Contact Us</h2>
  <p>If you have a question about any of our courses please don't hesitate to get in touch. </p>
  <p><a class="btn" href="contact.html">Contact Us &raquo;</a></p>
</div>
<div class="span6">
  <h2>Courses for everyone</h2>
  <p>Our wide variety of courses are aimed at visitors from all around the glode. To help this, our site is available in English, Irish, Chinese and Slovak. </p>
  <p><a class="btn" href="courses.html">View courses &raquo;</a></p>
</div>
</div>