<div class="hero-unit">
  <h1>Ask us anything</h1>
  <p>Please feel free to ask us about any of our courses. A member of our staff will reply to you as soon as possible.</p>
</div><!--end hero unit -->
<div class="control-group center">
  <form action="message_threads" class="span6" method="post">
    <label for="subject">Subject</label>
    <input id="subject" class="input-xlarge" name="new_message_thread[subject]" type="text" />

    <label  class="control-label" for="user_email">Email</label>
    <input id="user_email" class="input-xxlarge"  name="new_message_thread[user_email]" type="text" />

    <label class="control-label" for="inputEmail"> Message</label>
    <textarea rows="6" class="input-xxlarge" placeholder="Write your question here."></textarea>

    <button type="submit" class="btn btn-large btn-primary">Send Message</button>
  </form>
  <br class="clear">
</div>
