<h2>Pay balance for <%= @enrollment.course.title %></h2>
<p>You will be charged <%= number_to_currency(@enrollment.balance_due, :unit => "&euro;") %></p>
<%= render :partial =>"layouts/payment_form" %>