<h2>Enrol in <%= @course.title %></h2>
<% if current_student.enrollments.find_by_course_id(@course.id) == nil %>
  <p>You are already enrolled in this course.</p>
<% else %>
  <%= render "layouts/payment_form" %>
<% end %>