<h2><%= @course.title %></h2>

<% if !@message.empty? %>
	<p><%= @message %></p>
<% else %>
	<p>You have been succesfully enrolled in <%= link_to @course.title, course_path(@course.id) %></p>
<% end %>