<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <%= simple_format @message.content %>

    <p><strong>You asked:</strong></p>
    <% @message.message_thread.messages.each do |m| %>
    	<% if !m.is_response %>
    	<blockquote>
    		<%= simple_format m.content %>
    	</blockquote>
    	<% end %>
    <% end %>
  </body>
</html>