<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <%= simple_format @message.content %>

    <h3>You asked:</h3>
    <% @message.message_thread.each do |m| %>
    	<% if !m.is_response %>
    	<div>
    		<%= simple_format m.content %>
    	</div>
    	<% end %>
    <% end %>
  </body>
</html>