// 'Readable' bootswatch
//
// First import journal variables
@import "bootswatch/readable/variables";
$linkColor: $red;
$btnPrimaryBackground: $red;
$btnPrimaryBackgroundHighlight: $red;

// Then bootstrap itself
@import "bootstrap";


.navbar .brand {
  padding: 5px 25px 5px;
}

.hero-unit {
  background-color: #eeeeee;
}

header{
  padding: 40px
}

// bootstrap-sass change the backgroung to white
.well{
background-color: #F5F5F5;
}
// Responsive styles go here in case you want them
@import "bootstrap-responsive";

// And finally bootswatch style itself
@import "bootswatch/readable/bootswatch";



