<% if @resource.instance_of? Student %>
<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
<% elsif @resource.instance_of? AdminUser %>
<p>Hello <%= @resource.email %>!</p>

<p>You have been added as an administrator for the UCC Summer Courses website.</p>

<p>To log in please visit the link below and choose a password.</p>
<p><%= link_to 'Set password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>
<% end %>
